<div class="widget-container mb-5">
  <div class="search-bar pt-5 pb-4" style="background-color: white">
    <div class="container">
      <div id="search-fields" class="col-md-12">
        <div class="row">
          <div class="prompt">Search</div>
        </div>
        <div class="row mt-3 text-md-start text-center">
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="facility-name"><i class="fa fa-industry" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="search for facility"
                     aria-describedby="facility-name" [(ngModel)]="searchTerm" [ngbTypeahead]="search"
                     [focusFirst]="false" (keyup.enter)="onSearch()">
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="country"><i class="fa fa-globe" aria-hidden="true"></i></span>
              <select class="form-select" aria-label="Default select example" autocomplete="on" #selectElement
                      [(ngModel)]="selectedCountry" (change)="onSearch()">
                <option [ngValue]="''" selected disabled>Select country</option>
                <option *ngFor="let country of countries" [value]="country.name"
                        [ngValue]="country.name">{{country.name}}</option>
              </select>
              <button class="btn btn-outline-secondary" (click)="clearCountrySelection(selectElement)">Clear</button>
            </div>
          </div>

          <div class="col-12 mt-3 mt-md-0 mb-2 mb-md-0 text-center">
            <button class="btn btn-primary ps-md-3 pe-md-3 ps-4 pe-4" (click)="onSearch()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-extender white-bg"></div>
  <div class="blue-grey-bg skew-left">
    <div class="container-fluid skew-right">
      <div class="container">
        <div class="row pt-5">
          <div class="prompt">Results ({{faciltiesSize | numFormat}})</div>
          <div *ngIf="searchTerm.trim()!=='' || selectedCountry!==''">
            Search results for: <i>{{searchTerm}}</i><span
            *ngIf="selectedCountry!=='' && searchTerm.trim()!==''"> in </span><i>{{selectedCountry}}</i>
          </div>
        </div>
        <div id="results-body" *ngIf="faciltiesSize>0">
          <table class="table mt-3 table-responsive">
            <thead>
            <tr>
              <th scope="col" class="col-6">Facility name</th>
              <th scope="col" class="col-3">Headquarters</th>
              <th scope="col" class="col-3">OAR ID</th>
              <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let facility of facilities" class="p-4">
              <tr class="accordion-item" style="background-color: #e8ecf1;">
                <td class="col-6">{{facility.name}}</td>
                <td class="col-3">{{facility.headquarters === null ? "Unknown" : facility.headquarters}}</td>
                <td class="col-2"><small>
                  <a *ngIf="facility.oar_id != 'Unknown' else noOARID" target="_blank"
                     href="https://openapparel.org/facilities/{{facility.oar_id}}">{{facility.oar_id}}</a>
                  <ng-template #noOARID>-</ng-template>

                </small>
                </td>
                <td class="col-1 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#facility-details-'+facility.id" aria-expanded="false"
                    [attr.aria-controls]="'facility-details-'+facility.id" (click)="onMoreDetails(facility.id)"
                    #collapseButton></td>
              </tr>
              <tr id="{{'facility-details-'+facility.id}}" class="accordion-collapse collapse" #collapsableElement>
                <td class="accordion-body col-12" colspan="4"
                    *ngIf="facilityDetails['facility-'+facility.id]!== undefined">
                  <div class="row">
                    <div class="col-6">
                      <h5>
                        <fa-icon class="pe-1" [icon]="wageIcon"></fa-icon>
                        Average Wage
                      </h5>
                      <div id="no_avg_wage_data" class="mt-4 text-center"
                           *ngIf="facilityDetails['facility-'+facility.id][6019687] === undefined; else avgWage">
                        <img class="mb-1" src="assets/icons/purple-moon.svg" width="30px">
                        <p class="mt-2 showcase-main-text">No data available.</p>
                      </div>
                      <ng-template #avgWage>
                        <div class="text-center pt-3 pb-5">
                          <h3>{{facilityDetails['facility-' + facility.id][6019687] | floatFormat}}€</h3>
                        </div>
                      </ng-template>
                      <h5>
                        <fa-icon class="pe-1" [icon]="wageGapIcon"></fa-icon>
                        Living Wage Gap
                      </h5>
                      <div id="no_data" class="mt-4 text-center"
                           *ngIf="facilityDetails['facility-'+facility.id][7347357] === undefined;">
                        <img class="mb-1" src="assets/icons/purple-moon.svg" width="30px">
                        <p class="mt-2 showcase-main-text">No data available.</p>
                      </div>
                      <div class="row mt-2">
                        <div class="text-center mb-2 col-7">
                          <div id="{{'wage-gap-pie-'+facility.id}}">
                          </div>
                        </div>
                        <div class="col-5" *ngIf="facilityDetails['facility-'+facility.id][7347357] !== undefined;">
                          <h5>
                            <fa-icon class="pe-1" [icon]="actualWageIcon"></fa-icon>
                            {{facilityDetails['facility-' + facility.id][7347357] |floatFormat}}%
                          </h5>
                          <h5>
                            <fa-icon class="pe-1" [icon]="gapIcon"></fa-icon>
                            {{(100 - facilityDetails['facility-' + facility.id][7347357]) |floatFormat }}%
                          </h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <h5>
                        <fa-icon class="pe-1" [icon]="workersIcon"></fa-icon>
                        Workers
                      </h5>
                      <div id="no_workers_data" class="mt-4 text-center"
                           *ngIf="facilityDetails['facility-'+facility.id][4780588] === undefined; else numOfWorkers">
                        <img class="mb-1" src="assets/icons/purple-moon.svg" width="30px">
                        <p class="mt-2 showcase-main-text">No data available.</p>
                      </div>
                      <ng-template #numOfWorkers>
                        <div class="text-center pt-3 pb-5">
                          <h3>{{facilityDetails['facility-' + facility.id][4780588] | numFormat}}</h3>
                        </div>
                      </ng-template>
                      <h5>
                        <fa-icon class="pe-1" [icon]="genderIcon"></fa-icon>
                        Gender of Workers
                      </h5>
                      <div id="no_gender_data" class="mt-4 text-center"
                           *ngIf="facilityDetails['facility-'+facility.id][3233894] === undefined;">
                        <img class="mb-1" src="assets/icons/purple-moon.svg" width="30px">
                        <p class="mt-2 showcase-main-text">No data available.</p>
                      </div>
                      <div class="row mt-2">
                        <div class="text-center mb-2 col-7">
                          <div id="{{'workers-pie-'+facility.id}}">
                          </div>
                        </div>
                        <div class="col-5" *ngIf="facilityDetails['facility-'+facility.id][3233894] !== undefined;">
                          <h5>
                            <fa-icon class="pe-1" [icon]="femaleIcon"></fa-icon>
                            {{facilityDetails['facility-' + facility.id][3233894] |floatFormat}}%
                          </h5>
                          <h5>
                            <fa-icon class="pe-1" [icon]="maleIcon"></fa-icon>
                            {{(100 - facilityDetails['facility-' + facility.id][3233894]) |floatFormat }}%
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Supplier of</th>
                      <th>Year</th>
                      <th><span class="th-icon" data-bs-container="body" placement="top"
                                ngbPopover="Has this brand made a public commitment to pay all workers in its supply chain a living wage sufficient to support themselves and their dependents?"
                                popoverTitle="Public Commitment"><i class="fa fa-bullhorn fa-lg"></i></span></th>
                      <th>Brands</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let brand of facilityDetails['facility-' + facility.id][2929015]">
                      <td class="col-3">{{brand['name']}}</td>
                      <td class="col-3">{{brand['years'] | arrayFormat}}</td>
                      <td class="col-1">{{brand['commitment']}}</td>
                      <td class="col-5">{{brand['brands'] | arrayFormat}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="col-12">
                    <span><i class="fa fa-bullhorn"></i></span><small>
                    Public Commitment on Living Wage: Has this brand made a public commitment to pay all workers in its
                    supply chain a living wage sufficient to support themselves and their dependents?
                  </small>
                  </div>
                </td>
                <td class="accordion-body col-12 text-center" colspan="4"
                    *ngIf="facilityDetails['facility-'+facility.id]=== undefined">
                  <div class="spinner-grow text-warning mt-5 mb-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
              </tr>

            </ng-container>
            </tbody>
          </table>

          <div class="row">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="faciltiesSize" [(page)]="page"
                            [pageSize]="pageSize"
                            [boundaryLinks]="true"
                            [maxSize]="2"
                            (pageChange)="onPageSelect()"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="creators" *ngIf="view === 'widget'">
        <hr class="nomargin-bottom">
        <div class="row">
          <p class="col-6 text-start"><small>a project from <a href="https://wikirate.org">Clean Clothes
            Campaign</a></small></p>
          <p class="col-6 text-end"><small>powered by <a href="https://wikirate.org">WikiRate.org</a></small></p>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="blue-grey-bg bottom-extender"></div>-->
</div>

