<div class="wikirate-box bg-navy">
  <div class="container">
    <nav class="nav navbar bg-navy nomargin drop-shadow">
      <a class="navbar-brand navbar-expand brand mr-3" routerLink="{{translate.currentLang}}/home">Fashion Facility
        Checker</a>
      <div class="navbar me-auto">
        <a class="nav-item nav-link ml-3 mr-3" (click)="navigateToAboutPage()"
           style="cursor:pointer;">{{'about' | translate}}</a>
        <div class="nav-item dropdown col">
          <a class="nav-item nav-link nav-link ml-3 mr-3 dropdown-toggle" type="button" id="share"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            SHARE <i class="bi bi-arrow-up-right"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="share">
            <a class="dropdown-item" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=https://facilitychecker.wikirate.org/"><i
              class="bi bi-facebook ms-2 me-2"></i>facebook</a>
            <a class="dropdown-item" target="_blank"
               href="https://twitter.com/intent/tweet?url=https://facilitychecker.wikirate.org/&text="><i
              class="bi bi-twitter ms-2 me-2"></i>twitter</a>
            <a class="dropdown-item" target="_blank"
               href="https://www.linkedin.com/shareArticle?mini=true&url=https://facilitychecker.wikirate.org/"><i
              class="bi bi-linkedin ms-2 me-2"></i>linkedin</a>
            <a class="dropdown-item" target="_blank"
               href="mailto:info@example.com?&subject=&cc=&bcc=&body=https://facilitychecker.wikirate.org/%0A"><i
              class="bi bi-envelope-fill ms-2 me-2"></i>mail</a>
          </div>
        </div>
      </div>
      <div class="ms-md-auto">
        <select class="form-select"
                #selectedLang
                (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()"
                  [value]="language"
                  [selected]="language === translate.currentLang">
            {{ languageNames[language] }}
          </option>
        </select>
      </div>
    </nav>
  </div>
</div>
