<div class="facilitychecker-dark-box pt-4 pe-4">
  <div class="row text-center">
    <div class="col-12">
      <div class="row justify-content-center mb-3">
        <div class="tiny-text col-md-3">
          <p class="col-12">{{'footer_1'|translate}}</p>
          <a class="col-12" href="https://cleanclothes.org/" target="_blank"><img height="100"
                                                                                  src="assets/icons/ccc-logo.png"></a>
        </div>
        <div class="tiny-text col-md-3">
          <p class="col-12">{{'footer_2'|translate}}</p>
          <a class="col-12" href="https://wikirate.org" target="_blank"><img src="assets/icons/Wikirate%20Logo.svg"></a>
        </div>
        <div class="tiny-text col-md-3">
          <p class="col-12">Legal</p>
          <a class="col-12 link-light" href="https://wikirate.org/Privacy_Policy" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="facilitychecker-light-box ps-4 pe-4">
  <div class="row">
    <div class="col-11">
      <div class="note mt-2 text-light-white mb-2" [innerHTML]="'footer_3'|translate">
      </div>
    </div>
  </div>
</div>
