<div class="widget-container bg-white pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-3">Fashion Facility Checker</div>
        <p class="prompt" [innerHTML]="'about_p1'|translate"></p>
        <p class="prompt" [innerHTML]="'about_p2'|translate"></p>
        <p class="prompt" [innerHTML]="'about_p3'|translate"></p>
        <p class="prompt" [innerHTML]="'about_p4'|translate"></p>
        <p class="prompt" [innerHTML]="'about_p5'|translate"></p>
        <p class="prompt" [innerHTML]="'about_p6'|translate"></p>
      </div>
    </div>
  </div>
</div>
