<div class="widget-container bg-white pb-5">
  <div class="container pt-5">
    <h2>Facility Checker Privacy Policy</h2>
    <p><i><b>Last updated:</b> 29th September 2022</i></p>
    <p>
      On the WikiRate Project e.V. and the Clean Clothes Campaign, we do our best to protect your privacy. Below you can
      find our current policies and we will strive to keep up to date with best practices.
    </p>
    <h4>Introduction</h4>
    <p>
      Welcome to the Facility Checker. The Site, the Facility Checker, the Service is operated and provided to you by the WikiRate Project e.V. and the Clean Clothes Campaign ("we", "us", "our"). We respect your privacy. Please read this Privacy Policy carefully. It sets forth the what, when, how and why of our collection and processing of personal information in connection with your use and our provision of the Service.
    </p>
    <p>If you have any questions about this Privacy Policy or how we collect and use your personal information, please contact us at info [at] wikirate.org</p>
    <h5>
      1. Personal information that we collect and how we use it
    </h5>
    <p>When you use Facility Checker, we collect certain personal information. We summarize below (i) the types of
      personal information we collect, (ii) how that personal information is used by us and, (iii) if you are in the
      European Economic Area, Switzerland, the United Kingdom, Thailand, Brazil or Turkey (the "Relevant
      Jurisdictions"), or other jurisdiction that requires us to state a legal basis for the processing of your data,
      the legal basis under which we process your data. By acknowledging this Privacy Policy, you hereby consent to the
      collection and processing of personal information as set forth below.</p>

    <table class="table">
      <thead class="bg-dark text-white">
      <tr>
        <th><u>Personal Information</u></th>
        <th><u>Use</u></th>
        <th><u>Legal Basis (If Applicable)</u></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><i>User Activity Logs </i> - When you browse data on the Facility Checker, we collect IP addresses, URL
          requests, browser types, dates, times and other user activity data.
        </td>
        <td>We use Google Analytics to analyze this data to understand how Facility Checker is being used, generate
          reports on usage, and inform our design and workflow interaction decisions
        </td>
        <td>We have a legitimate interest in understanding how Facility Checker is being used to make improvements.</td>
      </tr>
      </tbody>
    </table>

    <h5>
      2. Where your personal information is stored and accessed
    </h5>
    <p>
      Your personal information will be stored and processed on our servers and/or servers hosted by third party service
      providers on our behalf. These servers may not be located in the country you are located and your information may
      be accessed and processed by individuals outside of the country you are located in. For example, we use Google
      Analytics, which has servers around the world. Additionally, we have staff in the United Kingdom, Germany, the
      United
      States and other countries. By using the Service, you hereby consent to the transfer of your personal information
      outside your country.
    </p>
    <p>
      The following are the third party service providers that host servers and/or process personal information on our
      behalf:
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="bi bi-chevron-double-right pe-2"></i>Google</li>
    </ul>
    <h5>
      3. How we share your personal information
    </h5>
    <p>
      <b>We do not share</b> your personal information with third parties.
    </p>
    <h5>
      4. Cookies
    </h5>
    <p>
      Cookies are small text files that are stored on your computer or device when you visit a certain web address and
      are refreshed on each visit. Cookies are sent back to the originating web address on each subsequent visit, or to
      another web address that recognizes that cookie. Cookies are widely used in order to make the Service work, or to
      work more efficiently, as well as to provide information to our team regarding the Service.
    </p>
    <p>
      We use cookies to:
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="bi bi-chevron-double-right pe-2"></i>track users' interactions with the
        Service, including to track the general traffic flow on the Site, user engagement and other statistical data.
      </li>
    </ul>
    <h5>
      5. Third party services
    </h5>
    <p>
      The Site may link to websites operated by, or have tools or features provided by, third parties that are not
      controlled by us. The Facility Checker is not responsible for the privacy practices of such third parties or the content of
      such websites, tools or features.
    </p>
    <p>
      Please review the applicable third party data policies:
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="bi bi-chevron-double-right pe-2"></i>Google Analytics - <a
        href="https://www.google.com/analytics/terms/us.html">https://www.google.com/analytics/terms/us.html</a>
      </li>
    </ul>
  </div>
</div>
