/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Karmilla";
  src: url(./assets/fonts/Karla/karmilla-regular-webfont.woff) format("woff"),
  url(./assets/fonts/Karla/karmilla-regular-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karmilla";
  src: url(./assets/fonts/Karla/karmilla-bold-webfont.woff) format("woff"),
  url(./assets/fonts/Karla/karmilla-bold-webfont.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ptf_nordic";
  src: url(./assets/fonts/PTFNORDICStd-Normal.woff) format("woff"),
  url(./assets/fonts/PTFNORDICStd-Normal.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}


.widget-container {
  font-family: Karmilla;
}

@import "bootstrap";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

$widget_color: #C5CCD2;
$dark_blue: #27282a;
$intense_blue: #72a8d6;

body {
  background-color: $widget_color !important;
  font-family: Karmilla !important;
}

.bg-navy {
  background-color: $widget_color !important;
}

.brand{
  font-family: "ptf_nordic" !important;
  font-size: calc(1rem + .3vw) !important;
  color: white !important;
}

.title{
  font-family: "ptf_nordic" !important;
  font-size: calc(1.5rem + .3vw) !important;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.nomargin-bottom {
  margin-bottom: 0 !important;
}

.facilitychecker-dark-box{
  background-color: lighten($dark_blue,10%);
  color: white;
}

.facilitychecker-light-box{
  background-color: lighten($widget_color, 10%);
  color: black;
}

.note {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #747485;
}

.tiny-text {
  font-size: 11px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.prompt {
  font-size: 1rem !important;
}

.dimmed {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}